{% extends "with_menu.html" %}


{% block main %}
<div class="classe2">
	<article>
		<header>
			<h1>Classe 2: Valors numèrics</h1>
			<p>En aquesta classe afegirem més contigut a les instruccions. En concret, s'ha de definir uns valors per algunes de les instruccions per resoldre correctament cada problema.</p>
		</header>
		<section>
			<h2>Exercicis</h2>
				<p>La tasca consisteix en resoldre una sèrie de problemes que cadascú requereix d'una sequència d'instruccions per aconseguir un objectiu donat.</p>
		</section>
		<section>
			<h2>Aprendre més</h2>
				<p>Per si acabes i vols probar altres problemes proposem els següents:</p>
				<ul>
                    <li><a href="https://blockly-games.appspot.com/turtle">Turtle</a>
                    <li><a href="https://blockly-games.appspot.com/movie">Movie</a>
				</ul>
		</section>
	</article>
</div>
{% endblock %}