{% extends "blockly_canvas.html" %}

{% block css %}
{{ super() }}
{#<link rel="stylesheet" href="{{ _url("app2/css/app.css") }}">#}
{% endblock %}


{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/upf-blocks/addNumber.js') }}"></script>
<script src="{{ _url('app2/js/c1.js') }}"></script>

{%- endblock %}

{% block blockly_blocks %}
    <block type="addNumber"></block>
{% endblock %}

