{% extends "blockly_canvas.html" %}

{% block css %}
{{ super() }}
{#<link rel="stylesheet" href="{{ _url("app8/css/app.css") }}">#}
{% endblock %}


{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/upf-blocks/sum2nums.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/sub2nums.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/div2nums.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/mul2nums.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/result.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/math_num_1.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/math_num_3.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/math_num_5.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/math_num_10.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/math_num_20.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/math_num_75.js') }}"></script>
<script src="{{ _url('app8/js/c1.js') }}"></script>
{%- endblock %}

{% block blockly_blocks %}
		<category name="Numbers">
	  		<block type="math_num_1"></block>
	  		<block type="math_num_3"></block>
	  		<block type="math_num_5"></block>
	  		<block type="math_num_10"></block>
	  		<block type="math_num_20"></block>
	  		<block type="math_num_75"></block>
		</category>
		<category name="Operations">
	  		<block type="result"></block>
			<block type="sum2nums"></block>
			<block type="sub2nums"></block>
			<block type="mul2nums"></block>
			<block type="div2nums"></block>
		</category>
{% endblock %}

