{% extends "with_blockly.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ _url("app2/css/app.css") }}">
{% endblock %}


{% block footer_scripts %}
{{ super() }}
<script src="{{ _url("common/js/upf-app.js") }}"></script>
<script src="{{ _url("common/js/app.js") }}"></script>
<script src="{{ _url("app2/js/game.js") }}"></script>
{%- endblock %}

{% block game_introduction %}
Utilitza el block "addNumber" per resoldre l'equació.
{%- endblock %}

{% block game %}
    <div ng-app="gateGameApp">
        <div ng-controller="GameCtrl" style="position: relative; height:350px; width:350px; margin: 0 auto;">
            <div class="textapp" id="textapp" >?3 + 1? = 59</div>
            <img class="gate" src="{{ _url("common/img") }}/[[game.gate.title]]" />
            {% for n in doors %}
                <img class="num{{n}}" id="{{n}}" src="{{ _url("common/img/" + n + ".png") }}" />
            {% endfor %}
        </div>
    </div>
{%- endblock %}


{% block blockly_canvas %}
Remaining Blocks <span id="capacity">2</span>
{%- endblock %}
