{% extends "with_menu.html" %}


{% block main %}
<div class="classe1">
	<article>
		<header>
			<h1>Classe 1: Sequències d'instruccions</h1>
			<p>L'element bàsic de qualsevol programa és la <i>instrucció</i>, que té un sentit i un efecte concret.
			Un programa es composa d'una sequència d'instruccions bàsiques.</p>
		</header>
		<section>
			<h2>Exercicis</h2>
				<p>La tasca consisteix en resoldre una sèrie de problemes.
				Cada problema requereix d'una sequència d'instruccions per tal d'aconseguir un objectiu donat.</p>
		</section>
		<section>
			<h2>Aprendre més</h2>
				<p>Per si acabes i vols probar altres problemes proposem els següents:</p>
				<ul>
                    <li><a href="http://studio.code.org/s/course1/stage/4/puzzle/1">Maze</a>
                    <li><a href="http://studio.code.org/s/course1/stage/7/puzzle/1">Bee</a>
                    <li><a href="http://studio.code.org/s/course1/stage/8/puzzle/1">Artist</a>
				</ul>
		</section>
	</article>
</div>
{% endblock %}