{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
{% endblock %}


{% block footer_scripts %}
{{ super() }}
{%- endblock %}


{% block main %}


<div class="classe3">
	<article>
		<header>
			<h1>Events</h1>
			<p>Normalment les instruccions d'un programa s'apliquen quan s'executa el programa. No obstant això, la programació basada en <i>events</i> permet definir instruccions que s'apliquen cada cop que un cert event es produeix. Això permet obtenir un comportament més dinàmic del programa.</p>
		</header>

		<section>
			<h2>Exercicis</h2>
				<p>Aquí es troben exercicis de programació basada en events:</p>
				<ul>
                    <li><a href="http://studio.code.org/flappy/1">Flappy</a>
					<li><a href="http://studio.code.org/s/infinity/stage/1/puzzle/1">Play Lab</a>
				</ul>
		</section>
	</article>
</div>


{% endblock %}
