/* app css stylesheet */

/*div {
  font-size: 30px;
}*/

.textapp {
	font-size: 20px;
	position: absolute;
    left: -5%;
    z-index: 2;
    transition: all 0.5s ease;
	
}

.message {
	position: absolute;
	z-index:3;
	left:0px;
	top:800px;
	text-align: center;
}

.gate{
	position: absolute;
    width: 85%;
    text-align: center;
    z-index: 1;
    transition: all 0.5s ease;
}

.num1{
	position: absolute;
	top:77%;
	left:4.5%;
    width:10%;
    text-align: center;
    z-index: 2;
}
.num2{
	position: absolute;
	top:59%;
	left:4.5%;
    width:10%;
    text-align: center;
    z-index: 2;
}
.num3{
	position: absolute;
	top:37%;
	left:6%;
    width:10%;
    text-align: center;
    z-index: 2;
}
.num4{
	position: absolute;
	top:18.5%;
	left:22%;
    width:10%;
    text-align: center;
    z-index: 2;
}
.num5{
	position: absolute;
	top:13%;
	left:38.5%;
    width:10%;
    text-align: center;
    z-index: 2;
    transition: all 0.5s ease;
}
.num6{
	position: absolute;
	top:18.5%;
	left:53.5%;
    width:10%;
    text-align: center;
    z-index: 2;
    transition: all 0.5s ease;
}
.num7{
	position: absolute;
	top:37%;
	left:68.5%;
    width:10%;
    text-align: center;
    z-index: 2;
    transition: all 0.5s ease;
}
.num8{
	position: absolute;
	top:59%;
	left:70.5%;
    width:10%;
    text-align: center;
    z-index: 2;
    transition: all 0.5s ease;
}
.num9{
	position: absolute;
	top:77%;
	left:70.5%;
    width:10%;
    text-align: center;
    z-index: 2;
    transition: all 0.5s ease;
}

.pent{
	position: absolute;
	top: 45%;
	left: 23%;
	width: 40%;
	z-index: 2;
	transition: all 0.5s ease;
}
