{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
{% endblock %}


{% block footer_scripts %}
{{ super() }}
{%- endblock %}


{% block main %}


<div class="classe4">
	<article>
		<header>
			<h1>Variables</h1>
			<p>Les variables permeteixen emmagatzemar informació per tornar-la a utilitzar més tard. D'aquesta manera una instrucció es pot programar amb una variable que el seu valor pot variar durant el programa. Quan s'aplica la instrucció s'ha d'avaluar el valor de la variable per saber quin efecte concret tindrà la instrucció.</p>
		</header>

		<section>
			<h2>Exercicis</h2>
				<p>Aquí es troben exercicis sobre les variables:</p>
				<ul>
                    <li><a href="http://studio.code.org/s/algebra/stage/6/puzzle/1">Variables</a>
					<li><a href="http://studio.code.org/s/course4/stage/7/puzzle/1">Play Lab</a>
				</ul>
		</section>
	</article>
</div>


{% endblock %}
