{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
{% endblock %}


{% block footer_scripts %}
{{ super() }}
{%- endblock %}


{% block main %}


<div class="classe1">
	<article>
		<header>
			<h1>Introducció</h1>
			<p>Cada classe cobreix un tema concret de la programació. Després d'una petita introducció, la classe es dedicarà a resoldre una serie d'exercicis relacionats amb el tema en qüestió. Al menu d'esquerra trobeu el apartat de cada classe.</p>
		</header>

		<section>
			<h2>Exercicis</h2>
				<p>Tots els exercicis estan preparats en un llenguatge de programació que es diu <a href="http://code.google.com/p/blockly/">Blockly</a>. Alguns dels exercicis estan preparats específicament per a aquest curs, però també n'hi ha d'externs per completar el material.</p>
		</section>
	</article>
</div>


{% endblock %}
