{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
{% endblock %}


{% block footer_scripts %}
{{ super() }}
{%- endblock %}


{% block main %}


<div class="classe7">
	<article>
		<header>
			<h1>Funcions</h1>
			<p>Les funcions permeteixen agrupar seqüències de codi que es volen executar diversos cops. Per executar el codi d'una funció, aquesta funció s'ha d'invocar des de fora; es diu que la funció es <i>truca</i>. Les funcions poden incloure arguments o paràmetres que es poden variar cada cop que la funció es truqui. El benefici principal de les funcions és que el codi resulta millor estructurat i normalment es necessiten menys línees de codi.</p>
		</header>

		<section>
			<h2>Exercicis</h2>
				<p>Aquí es troben exercicis sobre les funcions:</p>
				<ul>
                    <li><a href="https://blockly-games.appspot.com/pond-basic?lang=en">Pond</a>
					<li><a href="https://studio.code.org/s/course4/stage/15/puzzle/1">Play Lab</a>
				</ul>
		</section>
	</article>
</div>


{% endblock %}
