
{% extends "base.html" %}

{% block css %}
{{ super() }}
<link href="/static/css/404.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="wrap">
        <div class="content">
            <img src="/static/img/error-img.png" title="error" />
            <p><span><label>O</label>hh... </span>la pàgina que estàs buscant no està aquí!</p>
            <a href="/">Tornar</a>
        </div>
    </div>
{% endblock %}