{#This is the base template which all the rest of templates in our application will extend #}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Codeart{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


        {% block css %}
            <!-- Bootstrap Core CSS -->
            <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">

            {% assets "css_base" %}
            <link href="{{ ASSET_URL }} " rel="stylesheet">
            {% endassets %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block scripts_header %}{% endblock %}
    </head>

    <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

    <div class="header-container">
        <header class="wrapper clearfix">
            <div class="upf-logo"><a href="http://www.upf.edu" title="Universitat Pompeu Fabra">
                    <img alt="Universitat Pompeu Fabra" src="/static/img/upf_logo.png" width="222px" height="76px">
            </a></div>
            <h1 class="title">
                <a href="http://codeart.ai.upf.edu/" rel="home" title="Codeart">Codeart</a>
            </h1>
            {% block rheader %}{% endblock %}
        </header>
    </div>


    {# By default, the wrapper is toggled, i.e. not showing any sidebar at all #}
    <div id="wrapper" class="{% block sidebar_wrapper_class %}toggled{% endblock %}">
        {% block sidebar %}{% endblock %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

{#                        <div id="messages-wrap">#}
{#                          <div id="messages">#}
{#                            {% for category, msg in get_flashed_messages(with_categories=true) %}#}
{#                              <p class="message flash-{{ category }}">{{ msg }}</p>#}
{#                            {% endfor %}#}
{#                          </div>#}
{#                        </div>#}

                        <div class="main main-container">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /#page-content-wrapper -->

    </div> <!-- /#wrapper -->


{##}
{#    <div class="footer-container">#}
{#        <footer class="wrapper">#}
{#            Codeart es una iniciativa del <a target="_blank" href="http://ai.upf.edu/">Artificial Intelligence Group</a>#}
{#            de la <a target="_blank" href="http://www.upf.edu/">Universitat Pompeu Fabra</a>.#}
{#        </footer>#}
{#    </div>#}

    {% block footer_scripts %}
    {% assets "js_base" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
        <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {% endblock %}

    </body>
</html>