<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    {% block css %}
        <link href="{{ url_for('static', filename="css/upf-blockly.css") }}" rel="stylesheet">
    {% endblock %}

    {% block js %}
        {% assets "blockly_js_base" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}

  </head>
  <body>
    <xml id="toolbox" style="display: none">
    {% block blockly_blocks %}{% endblock %}
    </xml>
  </body>
</html>
