{% extends "base.html" %}

{% block main %}

    <article>
        <header>
            <h1>Què és <em>Codeart</em>?</h1>
            <p>Codeart és una iniciativa del Departament de Tecnologies de la Informació i les Comunicacions (DTIC) de la Universitat Pompeu Fabra, que pretén promoure i ensenyar l'art de programar. Com a part d'aquesta iniciativa s'oferirà un curs d'iniciació a la programació per als estudiants de 14-18 anys.</p>
        </header>
        <section>
            <h2>Informació del curs</h2>
            <p>El curs consisteix en 10 classes presencials d'una hora al <a href="http://www.upf.edu/campus/comunicacio/">Campus de la Comunicació-Poblenou</a> de la Universitat Pompeu Fabra. Les classes s'impartiran els dimecres de 18:00 a 19:00, cada setmana del 8 d'abril de 2015 fins al 10 de juny de 2015, ambdues incloses. En principi no es requereixen coneixements previs de programació, però s'adaptarà el material al nivell dels participants.</p>
        </section>
        <section>
            <h2>Com faig per participar?</h2>
            <p>Per participar, tot el que has de fer és omplir el formulari següent i clicar al botó "Submit". Nosaltres et contactarem amb més informació del curs.</p>
        </section>
        <section>
            <iframe class="registration-form" src="https://docs.google.com/forms/d/19c7JsYFRjbrP-_Bm0Pvx35rJMo22mhtqgZb-QWtilN8/viewform?embedded=true&hl=ca" width="600" height="950" frameborder="0" marginheight="0" marginwidth="0">S&#39;està carregant...</iframe>
        </section>
    </article>

    <aside>
        <h3>¡Aprèn a programar!</h3>
        <p>La programació és una habilitat cada cop més sol·licitada, i els programes formen part de la nostra vida en cada cop més àmbits.
            Aprendre a programar requereix de creativitat i imaginació, motiu pel qual podem parlar de la programació com un veritable art.</p>
    </aside>

    <aside>
        <h3>Fitxa d'autorització</h3>
        <p>El primer dia de classe cal portar una fitxa d'autorització signada pel pare/mare o tutor/a. La fitxa es pot descarregar <a href="/static/autoritzacio.pdf">aquí</a>.</p>
    </aside>

    <div class="inici">
        <a href="/lessons/intro" role="button" class="btn btn-success btn-lg">Comencem!</a>
    </div>

{% endblock %}