{% extends "base.html" %}

{% block css %}
    {{ super() }}
{% endblock %}


{# When we have a sidebar, we need not to have any sidebar wrapper class #}
{% block sidebar_wrapper_class %}{% endblock %}

{% block sidebar %}

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {%- for item in current_menu.children recursive -%}
                    <li class="{% if item.active or item.has_active_child() %}active{% endif %}">
                        <a href="{{ item.url }}">{{ item.text }}</a>
                            {%- if (item.active or item.has_active_child()) and item.children -%}
                                <ul class="">
                                  {{ loop(item.children) }}
                                </ul>
                            {%- endif -%}
                    </li>
                {% endfor -%}
            </ul>
        </div> <!-- /#sidebar-wrapper -->


        <div id="sidebar-toggle">
        <button type="button" class="btn btn-default btn-sm menu-toggle">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </button>
        </div>

{% endblock %}

{% block footer_scripts %}
    {{ super() }}
{% endblock %}