 	{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename="css/upf-blockly.css") }}">
{% endblock %}


{% block footer_scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
{%- endblock %}


{% block main %}

    <div class="app-main">
        <div class="game-introduction">{% block game_introduction %}{%- endblock %}</div>
        <div class="button-box">
            <div class="button-inner">
                <button id="run-code" type="button" class="btn btn-success">Run Code</button>
                <button id="clear-code" type="button" class="btn btn-warning">Clear Code</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 code-display">
{#                <div class="game-placeholder">#}
                    {% block game %}{%- endblock %}
{#                </div>#}
            </div>

            <div class="canvas-placeholder col-md-7" data-target="{{ iframe_target }}">
                {% block blockly_canvas %}{%- endblock %}
            </div>
        </div>
    </div>

{% endblock %}
