{% extends "blockly_canvas.html" %}

{% block css %}
{{ super() }}
{#<link rel="stylesheet" href="{{ _url("common/css/app.css") }}">#}
{% endblock %}


{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/upf-blocks/phy_stepRight.js') }}"></script>
<script src="{{ url_for('static', filename='js/upf-blocks/phy_stepLeft.js') }}"></script>
<script src="{{ _url('app2/js/c1.js') }}"></script>

{%- endblock %}

{% block blockly_blocks %}
    <block type="phy_stepRight"></block>
    <block type="phy_stepLeft"></block>
{% endblock %}