{% extends "with_blockly.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ _url("common/css/app.css") }}">
{% endblock %}


{% block footer_scripts %}
{{ super() }}
<script src="{{ _url("common/js/p2.js") }}"></script>
<script src="{{ _url("app1/js/upf-app.js") }}"></script>
<script src="{{ _url("app1/js/game.js") }}"></script>
{%- endblock %}

{% block game_introduction %}
Use the blocks to move the red blocks out of the screen.
{%- endblock %}

{% block game %}
<div style=" overflow: auto;"><canvas width="600" height="400" id="myCanvas"></canvas></div>
{%- endblock %}

<div style="clear:both">
{% block blockly_canvas %}
</div>
{%- endblock %}