

header {
    padding: 10px 0;
}
.upf-logo {
    width: 222px;
    height: 76px;
    float:left;
    margin: 0 30px 0 0;
}


header .title a:link,
header .title a:visited,
header .title a:hover,
header .title a:active {
    color: #ffffff;
    text-decoration: none;
}

a {
    color: #C8102E;
    text-decoration: none
}

a:focus,a:hover {
    color: #AA001D;
    text-decoration: underline
}

.main aside a,
.footer-container footer a {
    color: white !important;
    text-decoration: underline;
}

.main aside a:focus,
.main aside a:hover,
.footer-container footer a:focus,
.footer-container footer a:hover {
    font-weight: bold;
}

#wrapper {
    position: relative;
}

#wrapper #sidebar-toggle {
    z-index: 2000;
    position: absolute;
    left: 183px;
    top: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-toggle {
    left: 0;
}


.main-container {
    padding: 30px 0;
}

.game-placeholder {
    padding: 0 10%;
    width: 80%;
}

.game-introduction {
    padding: 20px 0;
    margin-bottom: 30px;
}

/* Botó d'inici */
.inici {
    width: 28%;
    text-align: center;
    float: right;
    margin: 20px 0 40px;
}

.registration-form {
    display: block;
    margin: 20px auto;
}