/*!
 *
 */

body {
	height: 500px;
}

.upf-canvas {
    /*height: 100%;*/
    overflow: hidden;
    height: 600px;
    margin: 0;
    padding: 0;
}

.app-main {
    padding: 15px 15px 15px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
}

.button-box div {
    padding: 10px;
}

.button-box {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.button-inner {
}
