{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
{% endblock %}


{% block footer_scripts %}
{{ super() }}
{%- endblock %}


{% block main %}


<div class="classe6">
	<article>
		<header>
			<h1>Condicionals</h1>
			<p>Les condicionals permeteixen fer que un tros de codi sigui <i>opcional</i> i que només s'executi sota certes condicions. En particular, existeixen les instruccions "if" i "if-else" que cadascuna ve acompanyada d'una condició booleana (és a dir, que s'avaluï sempre a "true" o "false"). Quan s'executa una instrucció condicional, si la condició associada s'avalua a "true" s'executa el codi darrera del "if", i en cas contrari s'executa el codi darrera del "else" (en cas d'una instrucció "if-else").</p>
		</header>

		<section>
			<h2>Exercicis</h2>
				<p>Aquí es troben exercicis sobre les condicionals:</p>
				<ul>
                    <li><a href="https://blockly-games.appspot.com/bird?lang=en">Bird</a>
					<li><a href="https://studio.code.org/s/course3/stage/7/puzzle/1">Bee</a>
				</ul>
		</section>
	</article>
</div>


{% endblock %}
