{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
{% endblock %}


{% block footer_scripts %}
{{ super() }}
{%- endblock %}


{% block main %}


<div class="classe5">
	<article>
		<header>
			<h1>Bucles</h1>
			<p>Un <i>bucle</i> és un tros de codi que es pot repetir diversos cops durant l'execució d'un programa. Normalment un bucle es distingueix per les paraules "repeat", "while" o "for", i té una condició que indica si el codi s'ha de continuar executant (definit per exemple pel número de cops que s'ha de repetir).</p>
		</header>

		<section>
			<h2>Exercicis</h2>
				<p>Aquí es troben exercicis sobre bucles:</p>
				<ul>
                    <li><a href="https://blockly-games.appspot.com/maze">Maze</a>
					<li><a href="http://studio.code.org/s/course3/stage/12/puzzle/1">Farmer</a>
				</ul>
		</section>
	</article>
</div>


{% endblock %}
