{% extends "with_menu.html" %}

{% block css %}
{{ super() }}
{% endblock %}


{% block footer_scripts %}
{{ super() }}
{%- endblock %}


{% block main %}


<div class="classe8">
	<article>
		<header>
			<h1>C++</h1>
			<p>A diferència de Blockly, C++ és un llenguatge basat al text. No obstant aixó, els principis de la programació són exactament els mateixos. A C++ es poden aplicar els mateixos conceptes que ja hem vist: les variables, les bucles, les condicionals, les funcions, etc.</p>

			<p>Una diferència entre Blockly i C++ és que les variables de C++ són <i>tipats</i>. És a dir, cada cop que declarem una variable a C++ hem d'especificar de quin tipus és. Els tipus bàsics inclouen <b>int</b> (número sencer), <b>double</b> (número real), <b>char</b> (caràcter) i <b>bool</b> (valor booleà, o sigui "true" o "false"). També existeixen els tipus compostos, com per exemple <b>string</b> (cadena de caràcters).</p>
		</header>

		<section>
			<h2>Exercicis</h2>
				<p>Per fer exercicis de C++ recomanem la pàgina de la Olimpiada Informàtica Espanyola, on es troben problemes des de fàcils a més avançats:</p>
				<ul>
                    <li><a href="https://olimpiada-informatica.org/">OIE</a>
				</ul>
				<p>Aquí es troba una petita introducció a C++ que explica com resoldre problemes de la OIE:</p>
				<ul>
                    <li><a href="http://www.dtic.upf.edu/~jonsson/acm/intro/">Introducció a C++</a>
				</ul>
		</section>
	</article>
</div>


{% endblock %}
